* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html {
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}
/* COMMON */
.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

.text-center {
    text-align: center !important;
}


.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;

}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third {
    width: 33.33333%;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}



/* MAIN */
#main {

}


#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    z-index: 1;


}

#nav {
    display: inline-block;
}

.subnav {
    list-style: none;

}

#nav>li {
    display: inline-block;
}

#nav li {
    position: relative;

}



#nav>li>a {
    color: #fff;
    text-transform: uppercase;


}

#nav li a {

    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}

#nav li:hover .subnav {
    display: block;
}

#nav>li:hover>a {
    color: #000;
    background-color: #ccc;
}


#nav .subnav {
    display: none;
    min-width: 60px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0 24x;

}

#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
    width: 100%;


}

#nav .ti-angle-down {
    font-size: 14px;
}

#header .search-btn {
    float: right;
    padding: 0 21px;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;

}

#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;

}

#slider {
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/slider/slider1.jpg') top center/ cover no-repeat;
    position: relative;

}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    width: 100%;
    text-align: center;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;

}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
}

#content {}

#content .content-section {
    width: 800px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;

}

#content .section-heading {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;

}

#content .about-text {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list {
    margin-top: 48px;


}





#content .member-name {
    font-size: 15px;

}


#content .member-img {
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}

.tour-section {
    background-color: #000;
}

.ticket-list {
    background-color: #fff;
    margin-top: 40px;
}

.ticket-list li {
    color: #7575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.ticket-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;

}

.ticket-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
}


/* TOUR SECTION */


/* PLACE */
.place-list {
    margin-top: 32px;
    margin-bottom: 48px;


}

.place-item {

    width: 33.33333%;

}

.place-img {
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;

}


.place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-time {
    margin-top: 15px;
    color: #7575;
}

.place-desc {
    margin-top: 15px;
    line-height: 1.4;

}

.btn-s-full-width {
    text-decoration: none;
    padding: 11px 16px;
    color: #fff;
    background: #000;
    display: inline-block;
    margin-top: 15px;
}

.btn-s-full-width:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    display: none;

}

.modal.open {
    display: flex;
}

.modal-container {
    background: #fff;
    width: 900px;
    max-width: calc(100%-32px);
    min-height: 200px;
    position: relative;
}

.modal-header {
    background-color: #009688;
    height: 130px;
    align-items: center;
    justify-content: center;
    color: #fff;
    display: flex;
    font-size: 30px;

}

.ti-bag {
    margin-right: 16px;

}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
}

.modal-close:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color: red;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;

}

.modal-input {
    width: 100%;
    border: 1px solid #ccc;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;

}

#buy-tickets {
    background: #009688;
    border: none;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    width: 100%;
}

#buy-tickets:hover {
    opacity: 0.8;
    cursor: pointer;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal-footer a {
    color: #2196F3;
}


/* Contact form */



.contact-content {
    margin-top: 48px;



}

.contact-info {
    font-size: 18px;
    line-height: 1.5;

}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.form-control {
    padding: 11px;
    border: 1px solid #ccc;
    width: 100%;
}

.form-submit {
    font-size: 15px;
    background-color: #000;
    color: #fff;
    border: 1px solid #ccc;
    padding: 10px 16px;
    float: right;
}

.form-submit:hover {
    font-size: 15px;
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.map-section img {
    width: 100%;
}

#footer {
    padding: 64px 16px;
    text-align: center;
}

.social-list {
    font-size: 24px;


}

#footer .social-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;

}

#footer .copyright a:hover,
#footer .social-list a:hover {
    color: rgba(0, 0, 0, 0.4);

}

.copyright {
    color: rgba(0, 0, 0, 0.6);

    margin-top: 15px;
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    font-style: italic;


}